.header{
  background-color: aqua;
 display: flex;
  width: 100%;
 height: 120px;
 justify-content: space-around;
 align-items: center;
}


a{
  color: #363536;
}

.but{
    background-color: #c7c7c7;
}
.but:hover{
    background-color: brown;}
    
    .gl{
        margin-left: 100px;
        margin-right: 100px;
        justify-content: center;
display: grid;
grid-template-columns:repeat(4,1fr) ;
grid-template-rows:repeat(3,1fr) ;
grid-template-areas: "head head vx kv "
                    "vnz kv2 vx pm"
                    "vnz nz nz pm";
}
.box1{
    border: 1px solid;
    grid-area: head;
    opacity: 0.8;
}
.box2{
    border: 1px solid;
    grid-area: vx;
    opacity: 0.8;
}
.box3{
    border: 1px solid;
    grid-area:kv;
    opacity: 0.8;
}
.box4{
    border: 1px solid;
    grid-area: vnz;
    opacity: 0.8;
}
.box5{
    border: 1px solid;
    grid-area: kv2;
    opacity: 0.8;
}
.box6{
    border: 1px solid;
    grid-area: pm;
    opacity: 0.8;
}
.box7{
    border: 1px solid;
    grid-area: nz;
    opacity: 0.8;
}
.box1:hover{
    opacity: 1;
}
.box2:hover{
    opacity: 1;
}
.box3:hover{
    opacity: 1;
}
.box4:hover{
    opacity: 1;
}
.box5:hover{
    opacity: 1;
}
.box6:hover{
    opacity: 1;
}
.box7:hover{
    opacity: 1;
}
@media(max-width:500px){
    .bgl{
      grid-template-rows:repeat(3,100px);  
        
    }
}
.cweta{
        margin-left: 100px;
        margin-right: 100px;
        justify-content: center;
display: grid;
grid-template-columns:repeat(4,1fr) ;
grid-template-rows:repeat(2,200px) ;
grid-template-areas: "vr bx cn rt"
                    "nz nz nz nz";
  }
  .b1{
    border: 1px solid;
    grid-area: vr;
  background-color: green;
}
  .b2{
    border: 1px solid;
    grid-area: bx;
  background-color: blue;
}
  .b3{
    border: 1px solid;
    grid-area: cn;
  background-color: red;
}
  .b4{
    border: 1px solid;
    grid-area: rt;
  background-color: yellow;
}
  .b5{
    border: 1px solid;
    grid-area: nz;
  
}
.b1:hover~.b5{
background-color: green;
}
.b2:hover~.b5{
background-color: blue;
}
.b3:hover~.b5{
background-color: red;
}
.b4:hover~.b5{
background-color: yellow;
}
.blok{
        margin-left: 200px;
        margin-right: 200px;
        justify-content: center;
display: grid;
grid-template-columns:repeat(2,200px) ;
grid-template-rows: repeat(1,1fr);
}
  .lf{
    border: 1px solid;
   text-align: center;
  
}
  .rt{
    border: 1px solid;

  
}
@media(max-width:500px){
    .blok{display: grid;
grid-template-columns:repeat(1,200px) ;
grid-template-rows: repeat(2,1fr);
    
    }
}